.container {

	> header {

		margin: 40px 0;
		.lead {
			font-size: 16px;
		}
	}

	.resultats {
		> li {
			padding: 0;
			cursor: pointer;

			article {
				margin-bottom: 10px;
				position: relative;
				background-color: @gray;

				> span {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					.opacity(.3);
					font-size: 150px;
					color: @red;
					&.bignumber {
						font-size: 120px;
					}
				}

				

				> a,
				> span {
					min-height: 200px;
					margin: 0;
					.box-align;
				}

				a {
					position: relative;
					z-index: 2;
					font-size: 22px;
					font-style: italic;
					color: @marine;
				}
			}

			@media (min-width: @screen-desktop) {
				iframe,
				article {
					margin-left: 10px;
				}
				&:first-child  {
					article,
					iframe {
						margin-left: 0;
					}
				}

				&:hover {
					aside {
						.opacity(1);
					}
				}
			}			
		}
	}
}

.livefeed {
	> li {
		line-height: 25px;
	}
	span {
		color: lighten(@gray, 1%);
	}
}