.container {

	> header {

		margin: 40px 0;
		.well {
			max-width: 600px;
			margin: 0 auto;
			background: #fff;
		}
		.lead {
			font-size: 16px;
		}
	}

	.resultats {
		> li {
			padding: 0;
			cursor: pointer;

			article {
				margin-bottom: 10px;
				position: relative;
				background-color: @gray;
				background-image: url(img/stripe.png);

				> span {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
					.opacity(.3);
					font-size: 150px;
					color: @red;
					text-shadow: 1px 1px 0 #fff;
					&.bignumber {
						font-size: 100px;
					}
				}
				
				.imgville {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index:0;
					background-size: cover;
					background-position: center;
					.opacity(0);
				}
				
				.imgville,
				div > a,
				> span {
					min-height: 200px;
					margin: 0;
					.box-align;
				}

				a {
					position: relative;
					z-index: 2;
					font-size: 22px;
					font-style: italic;
					color: @marine;
				}
	
			}

			.fb-like {
				width: 100% !important;

			}

			@media (min-width: @screen-desktop) {
				.fb-like,
				article {
					margin-left: 10px;
				}
				&:first-child  {
					article,
					.fb-like {
						margin-left: 0;
					}
				}

				&:hover {
					article > span {
						.opacity(1);
					}
					div {
						.opacity(0);
						&.fb-like {
							.opacity(1);
						}
					}
				}
			}			
		}
	}
}

.livefeed {
	> li {
		line-height: 25px;
		margin-bottom: 10px;
		color: lighten(@gray, 1%);
	}
	span {
		color: @gray;
	}
}

.fb-comments,
.fb-comments > span,
.fb-comments > span > iframe {
	width: 100% !important
}